/* change browser default font size */
.px-example {
    font-size: 16px;
}

.rem-example {
    font-size: 1rem;
}

.btn {
    background-color: palevioletred;
    border-color: turquoise;
}

.btn-px {
    padding: 16px;
    margin: 16px;
    border-width: 2px;
    font-size: 16px;
}

.btn-rem {
    padding: 1rem;
    margin: 1rem;
    border-width: 0.125rem;
    font-size: 1rem;
}

.btn-wrapper {
    background-color: lightpink;
}